@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300;1,400&display=swap');
/*selector universal*/
*{
    font-family: 'Raleway', sans-serif;
    /*reset*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(222, 217, 217);
}
.footer{
    background-color:#2B3035;
    padding: 1.000em 3.000em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .footer p{
    color: aliceblue;
}
div h5{
    text-align-last: left;
    font-weight: 1.000em;
    font-size: 1.250em;
}
    div p1{
        text-align-last: left;
        font-weight: 1000em;
        font-size: 1.150em;
    }

    .mobile{
        display:none;

@media(min-width: 320px) and (max-width: 600px){
    display: flex;
    }
    }
    .tablet{
        display:none;

    @media (min-width: 601px) and (max-width: 1024px) {
        display: grid;
    }
    }
    .PC{
        display: none;

    @media (min-width: 1025px) and (max-width: 1600px) {
        display: block;
    }
    }
    .comlet{
        display: none;
    @media (min-width: 601px) and (max-width: 1600px){
        display: block;
    }
    }
.grid{
    width: 100%;
    display: grid;
}
.grid-tetris{
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "history games"
    "shop supp";
}
#history{
    grid-area: history;
}
#games{
    grid-area: games;
}
#shop{
    grid-area: shop;
}
#supp{
    grid-area: supp;
}

.contenedor{
    display: flex;
}
.text{
    text-decoration: solid;
    text-align: center;
    color: orangered;
}
.texto{    
    display: inline-block;
    vertical-align: top;
    align-self: center;
    text-decoration: solid
  }
.imagen{
width: 350px;
margin-right: 50px;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
    color: orangered;
}
.pcarousel{
    text-decoration: solid;
    color: orangered;
    font-size: 3.000em;
}

.card-img-overlay{
    @media (min-width: 1025px) and (max-width: 1600px){
        text-decoration: solid;
        font-size: 3.000em;
    }
}
