*{
    Font-family: $Font-f;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: $MainClr1;
}
.footer{
    background-color: $MainClr2;
    padding: 1.000em 3.000em;
    display: $Flexy;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .footer p{
    color: aliceblue;
}
div h5{
    text-align-last: left;
    font-weight: $Font-Wei;
    font-size: 1.250em;
}
    div p1{
        text-align-last: left;
        font-weight: $Font-Wei;
        font-size: 1.150em;
    }
.contenedor{
    display: $Flexy;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
    color: $MainClr3;
}
.btn{
    background-color: $MainClr3;
}

