$Font-f: 'Raleway', sans-serif;
$MainClr1: rgb(222, 217, 217);
$MainClr2: #2B3035;
$MainClr3: orangered;
$MainClrT: rgb(86, 80, 80);
$Flexy: flex;
$Font-Wei: 1.000em;
$Nanay: none;
$Gridy: grid;
$Blocky: block;
$Font-siz: 3.000em;
$Grid-tem-col2: 50% 50%;
$Grid-tem-row2: auto auto;
$Mg3: 3%;
